@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Oleo+Script+Swash+Caps&display=swap');
</style>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lobster&family=Oleo+Script+Swash+Caps&family=Playfair+Display:ital,wght@1,700&family=Tapestry&display=swap');</style>
body{
    margin: 0;
    padding:0;
  font-family: 'Inconsolata', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f6f
    ;
}
nav h1 { 
    color: darkred;
    font-family: 'playfair display', sans-serif;
    font-size: 50px;
    }
    nav .onglets{
      margin-top:  3px;
      margin-left: 300px;
    }
    nav.onglets a{
      text-decoration: none;
      color: black;
      margin-right: 10px;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
    } 
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background:url('luxe.jpg');
     
      color: rgb(30, 30, 28);
      padding: 20px;
    }
    header h1 {
      font-family: 'playfair display', sans-serif;
    font-size: 50px;
    }
    header h4 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    }
    header button {
      padding: 10px 20px;
      background-color: #000;
      color:white;
      border:none;
      font-size: 20px;
      font-family: 'playfair display', sans-serif;
     outline: none;
     cursor: pointer;
    }
     .main{
       margin-top: 40px;
       display:flex;
       flex-direction: column;
       align-items: center;
    }
    .main .content .card{
      display: flex;
      flex-wrap:wrap;
      justify-content:center;
      margin-bottom: 20px;
    }
    .main .content .card.left{
      flex: 0 0 30%;
      padding: 20px;
      background-color: rgb(254, 247, 247);
      color: rgb(19, 18, 18);
    }
    .main .content .card.right{
      flex: 0 0 70%;
    }
    .main .content.card.right img{
      height:300px;
      width:400px;
      margin-top: 5px;
    }
    
    footer{
      margin-top: 40px;
      border-top:5px solid #6f6f6f;
      background-color: #000;
      color: white;
      padding: 30px 100px;
    }
    footer h1{
      font-family: 'playfair display', sans-serif;
      border-bottom: 1px solid #fff;
      width:20%;
      padding-bottom: 5px;
    }
    footer .services{
      margin-top:-10px;
      display: flex;
      flex-wrap: wrap;
    }
    footer .services .service{
      margin-right:30px;
      padding:10px;
    }
    footer .services .service p{ 
      max-width:300px;
    }
    footer#contact{
    color: rgb(181, 181,181);
    }
    

    @media screen and (max-width:680px){
      nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
      }
      .main .card{ 
        margin: 10px;
      }
      .main .content.card.right img{
        height: 200px;
        width: 100%;
        margin-top:0px;
      }
      .main .content .card{
        display:block;
      }
      footer {
        padding:30px;
    }